<div class="container-fluid">
	<div class="row mt-3">
		<div class="btn-group ml-0 mr-auto" role="group" aria-label="First group">
			<a class="btn btn-secondary ml-0 mr-2 button-with-icon" routerLink="/servers" role="button">
				<mat-icon class="mr-2" aria-hidden="false" aria-label="Zpět">undo</mat-icon>
				Back</a>

			<button *ngIf="form" class="btn btn-primary button-with-icon ml-0 mr-2" type="submit" form="serverDetailForm" [disabled]="!form.valid">
				<mat-icon class="mr-2" aria-hidden="false" aria-label="Přidat server">save</mat-icon>
				Save
			</button>
		</div>

	</div>
</div>

<div class="container-fluid">
	<div class="row mt-3">
		<h1>Detail nastavení serveru</h1>
	</div>

	<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" id="serverDetailForm">
		<div class="form-group">
			<label for="name">Název serveru:</label>
			<input id="name" formControlName="name" type="text" class="form-control"/>
			<div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
				<div *ngIf="f.name.errors.required">Name is required</div>
			</div>

			<label for="url">Url serveru:</label>
			<input id="url" formControlName="url" type="text" class="form-control"/>
			<div *ngIf="f.url.touched && f.url.invalid" class="alert alert-danger">
				<div *ngIf="f.url.errors.required">Server url is required</div>
			</div>
		</div>
	</form>
</div>
