<div class="container-fluid">
	<div class="row mt-3">
		<h1>Nastavení serverů</h1>
	</div>
	<div class="row mt-2">
		<table class="table">
			<thead class="bg-gray">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Název</th>
				<th scope="col">Url</th>
				<th scope="col">Datum vytvoření</th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody class="protocols">
			<tr *ngFor="let server of servers">
				<th scope="row">{{server.id}}</th>
				<td>{{server.name}}</td>
				<td>{{server.url}}</td>
				<td>{{server.date | date}}</td>
				<td>
					<!--					<a class="btn btn-primary ml-auto mr-0 button-with-icon" routerLink="/protocol-detail/{{protocol.id}}" role="button">-->
					<mat-icon class="mr-2 cursor-pointer" aria-hidden="false" aria-label="Upravit server" routerLink="/server-detail/{{server.id}}">edit</mat-icon>
					<!--					</a>-->
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="container-fluid">
	<div class="row mt-3">
		<a class="btn btn-primary ml-auto mr-0 button-with-icon" routerLink="/create-server" role="button">
			<mat-icon class="mr-2" aria-hidden="false" aria-label="Přidat protokol">add</mat-icon>
			Přidat server</a>
	</div>
</div>


